#simplified-spreadsheet {
    max-width: 1100px;
    margin: 50px auto;
    padding: 0 30px;
}
.editable-table {
    width: 100%;
    border-collapse: collapse;
    font-family: arial, sans-serif;
}

td {
    /* border: 1px solid #dddddd; */
    /* text-align: left;
    padding: 8px; */
}

th {
    padding: 5px;
}

td input {
    border: 1px solid #dddddd;
    text-align: left;
    width: 100%;
    padding: 8px;
}
